#cont{
	background-color: #666;
	padding: 10px;
	border-radius: 10px;
	width: 320px;
}
h3{
	font-family: Ubuntu;
	font-size: 30px;
	color: silver;
	border: none;
	margin-left: 70%
}

#displ{
	border: 1px solid black;
	height: 50px;
	width: 310px;
	margin-bottom: 12px;
	background-color: black;
	color: red;
	font-family: Ubuntu;
	font-size: 29px;
}

#keypad{
	border: 1px solid black;
	width: 314px;
	background-color: black;

}

.numPad{

	height: 50px;
	width: 100px;
	background-color: green;
	font-size: 25px;
	color: white;
	border: none;
}

.numPad:hover{
	border-radius: 20px;
	background-color: crimson;
}

.funcs{
	height: 50px;
	width: 152px;
	background-color: crimson;
	font-size: 25px;
	color: white;
	border: none;
}

.funcs:hover{
	border-radius: 20px;
	background-color: blue;
}

#cls{
	background-color: red;
}

#equal{
	background-color: blue;
	border: none;
}

#equal:hover{
	background-color: gold;
	color: green;
	border: none;
}


