/*
	File:			style.css
	Description:	Simple calculator that returns the expression of 2 values.
	Included Files:	calc.js
					calculator.html
	Date:			24/02/2015
	Author:			Taariq Isaacs
*/

#cont{
	background-color: #666;
	padding: 23px;
	border-radius: 30px;
	width: 320px;
}
h3{
	font-family: Ubuntu;
	font-size: 30px;
	color: silver;
	border: none;
	margin-left: 70%;
}

#displ{
	border: 1px solid black;
	height: 75px;
	width: 310px;
	margin-bottom: 12px;
	margin-top: none;
	background-color: black;
	color: red;
	font-family: Ubuntu;
	font-size: 54px;
	border-radius: 10px;
}

#keypad{
	border: 1px solid black;
	width: 314px;
	background-color: black;
	border-radius: 25px;

}

.numPad{

	height: 50px;
	width: 100px;
	background-color: green;
	font-size: 25px;
	color: white;
	border: none;
	border-radius: 40px;
}

.numPad:hover{
	height: 35px;
	background-color: orange;
}

.funcs{
	height: 50px;
	width: 152px;
	background-color: crimson;
	font-size: 25px;
	color: white;
	border: none;
	border-radius: 40px;
}

.funcs:hover{

	height: 35px;
	background-color: blue;
}

#cls{
	background-color: red;
	border-style: none;
}
#cls:hover{
	background-color: indigo;
}

#equal{
	background-color: blue;
	border: none;
}

#equal:hover{
	background-color: gold;
	color: green;
	border: none;
}
